<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>Posts</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                 <li class="nav-item">
                    <a class="nav-link active profile-page" aria-current="page" href="/profile">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active posts-page" aria-current="page" href="/posts">Posts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active add-post-page" aria-current="page" href="/add/post">Make Post</a>
                </li>
                </li>
                <li class="nav-item">
                    <a class="nav-link active block-users-page" aria-current="page" href="/blockedUsers">Block Users</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="justify-content-center" style="margin-left: 15%; margin-right: 15%">
    <br>
    <h2>Posts</h2>


    {% for post in posts %}
        <div class="row" style="background: beige">
            <div class="d-flex flex-column col-lg-12 ps-4 align-items-start">

                <h3>{{ post.title }}</h3>
                <div style="font-size: 26px">{{ post.content }}
                </div>
                <div>
                    Attachment: <a href="{{ post.file.url }}">{{ post.file.url }}</a>
                    <br>
                    <br>
                </div>
                <div class="text-primary">Date posted: {{ post.date_created }}</div>
                <div class="text-primary">Date modified: {{ post.last_modified }}</div>
                <div class="text-primary">Posted by: {{ post.user }}</div>
            </div>
        </div>
        <hr>
    {% endfor %}
</div>
</body>
</html>